@model WebUoFASM1.Models.GroupedUserViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    table {
        font-family: 'Times New Roman 18px';
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<p>
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
</p>

<table class="table">
    <tr>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                FullName
            </th>
            <th>
                Phone Number
            </th>
            <th>
                RoleName
            </th>
            <th>Edit</th>
            <th>Delete</th>
        }
    </tr>

    @foreach (var x in Model.Staffs)
    {
        <tr>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td>
                    @x.Username
                </td>
                <td>
                    @x.Email
                </td>
                <th>
                    @x.FullName
                </th>
                <th>
                    @x.PhoneNumber
                </th>

                <td>
                    @x.RoleName
                </td>

                <th>Edit</th>
                <th>Delete</th>
            }
        </tr>
    }
</table>

<table class="table">
    <tr>
        @if (Request.IsAuthenticated && User.IsInRole("Staff"))
        {
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                FullName
            </th>
            <th>
                Phone Number
            </th>

            <th>
                RoleName
            </th>
            <th>Edit</th>
            <th>Delete</th>
        }
    </tr>

    @foreach (var x in Model.Trainees)
    {
        <tr>
            @if (Request.IsAuthenticated && User.IsInRole("Staff"))
            {
                <td>
                    @x.Username
                </td>
                <td>
                    @x.Email
                </td>
                <th>
                    @x.FullName
                </th>
                <th>
                    @x.PhoneNumber
                </th>
                <td>
                    @x.RoleName
                </td>

                <th>Edit</th>
                <th>Delete</th>
            }
        </tr>
    }
</table>

<table class="table">
    <tr>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                FullName
            </th>
            <th>
                Phone Number
            </th>
            <th>
                RoleName
            </th>
            <th>Edit</th>
            <th>Delete</th>
        }
    </tr>

    @foreach (var x in Model.Trainers)
    {
        <tr>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td>
                    @x.Username
                </td>
                <td>
                    @x.Email
                </td>
                <th>
                    @x.FullName
                </th>
                <th>
                    @x.PhoneNumber
                </th>

                <td>
                    @x.RoleName
                </td>

                <th>Edit</th>
                <th>Delete</th>
            }
        </tr>
    }
</table>