@model WebUoFASM1.Models.Category
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Categories", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.LabelFor(p => p.Name)
    @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Name)
    @Html.LabelFor(p => p.Description)
    @Html.TextBoxFor(p => p.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Description)
    <input type="submit" value="Create" class="btn-primary" />
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>