@model IEnumerable<WebUoFASM1.Models.TrainerInfo>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<style>
    table {
        font-family: 'Times New Roman 18px';
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>

    <h2>Trainer</h2>

    @if (Request.IsAuthenticated && User.IsInRole("Staff"))
    {
        <p>
            @Html.ActionLink("Assign", "Assign")
        </p>
    }

    <table>
        <tr>
            <th>Name</th>
            <th>Trainer</th>
            <th>PhoneNumber</th>
            <th>Type</th>
            <th>Email</th>
            <th>Edit</th>

            @if (Request.IsAuthenticated && User.IsInRole("Staff"))
            {
                <th>Delete</th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Name</td>
                <td> @item.Trainer.UserName</td>
                <td> @item.PhoneNumber</td>
                <td> @item.Type</td>
                <td> @item.Email</td>
                <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>

                @if (Request.IsAuthenticated && User.IsInRole("Staff"))
                {

                    <td> @Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                }
            </tr>
        }
    </table>
</body>