@model IEnumerable<WebUoFASM1.Models.Trainee>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>

    <h2>Trainee</h2>

    @if (Request.IsAuthenticated && User.IsInRole("Staff"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Education</th>
            <th>Phone</th>
            <th>Detail</th>

            @if (Request.IsAuthenticated && User.IsInRole("Staff"))
            {
                <th>Edit</th>
                <th>Delete</th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Name</td>
                <td> @item.Email</td>
                <td> @item.Education</td>
                <td> @item.Phone</td>
                <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>

                @if (Request.IsAuthenticated && User.IsInRole("Staff"))
                {
                    <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                    <td> @Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                }
            </tr>
        }
    </table>
</body>