@model WebUoFASM1.ViewModels.CourseCategoryViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Course</h2>

@using (Html.BeginForm("Create", "Courses", FormMethod.Post))
{
    @Html.LabelFor(p => p.Course.Name)
    @Html.TextBoxFor(p => p.Course.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Course.Name)
    @Html.LabelFor(p => p.Course.Description)
    @Html.TextBoxFor(p => p.Course.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Course.Description)
    @Html.LabelFor(p => p.Course.Category.Name)
    @Html.DropDownListFor(p => p.Course.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select Category Name",
        new { @class = "form-control" })
    <input type="submit" value="Submit" class="btn-primary" />
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>